:root {
    --background-color: #f1f1f1;
    --text-color: #000000;
    --titre-color: grey;
    --primary-color: #ab9ff2;
    --secondary-color: #ffffff;
    --border-color: #dcdcdc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --input-background: #f9f9f9;
    --accent-color: #fad646;
    --success-color: #3ad38b;
    --error-color: #f56545;
    --blue-color: #5086eb;
    --orange-color: #f4a261;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

form {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
    max-width: 850px;
    width: 90%;
    border: 1px solid black;
    box-shadow: -16px 15px 0px -1px #878787;
}

h1,
h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--blue-color);
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 12px;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    color: var(--background-color);
}

input,
select,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

button:hover {
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(1.05);
}


.return-link {
    text-align: center;
    margin-top: 20px;
    
}

.return-link a {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

.return-link a:hover {
    color: grey;
    transform: scale(1.05);
}